.intro-wrapper {
    background: $color-black;
    color: $color-white;
    @include fullAbsolute;
}

.intro-container {
    @include centerXY;
    width: auto;
}

.intro-title {
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.intro-form-element{
    margin-top: 2em;
    &::after {
        position: absolute;
        content: "";
        width: 6em;
        height: 3px;
        margin-top: -4px;
        margin-left: 0;
        background: $color-white;
    }
}

.intro-label {
    position: relative;
    width: 100%;
    font-size: 1.2rem;
}
.intro-input {
    background: none;
    border: none;
    border-bottom: 1px solid $color-white;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    width: 100%;
    font-weight: bold;
    margin-top: 0.75em;
    padding: 0.5em;
    padding-bottom: 1em;
    color:rgba($color-white, 0.85);
}

.intro-form-cross {
    position: relative;
    float: right;
    &::before {
        content: "";
        position: absolute;
        background: $color-white;
        right: 8px;
        bottom: 15px;
        margin-right: 5px;
        width: 8px;
        height: 1px;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        background: $color-white;
        right: 8px;
        bottom: 15px;
        margin-right: 0;
        width: 8px;
        height: 1px;
        transform: rotate(-45deg);
    }
}

.intro-link {
    text-align: center;
    display: block;
    margin-top: 3em;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid $color-white;
    color: $color-white;
    cursor: pointer;
    padding: 1em;
    border-radius: 4px;
    width: 100%;
    &:hover {
        border-color: rgba($color-white, 0.7);
    }
}
