.loading-wrapper {
    @include fullAbsolute();
    background: $color-black;
    z-index: 1000;
}

.loading-container {
    @include centerXY;

    h2 {
        color: $color-white;
        font-size: 2em;
    }
}
