<div class="menu-drawers-wrapper">

	<div class="menu-drawers-container">

		<h1 class="menu-drawers-title">Current drawers</h1>

		<ul class="menu-drawers-names">

			<li class="menu-drawers-names-element" v-for="user in users">{{user.name}}</li>

		</ul>

	</div>

	<div class="menu-drawers-color">

		<!-- <label class="intro-label" for="color">Change your color</label>
		<select class="intro-input" name="color" v-model="me.color" required>
			<option v-for="color in colors" v-bind:value="color" >{{color.name}}</option>
		</select> -->
		<div class="menu-drawers-color-preview" v-bind:style="{ backgroundColor: colorHexa }"></div>

	</div>

	<h2 class="menu-drawers-pkey">Press <span>Spacebar</span> to switch color</h2>
	<h2 class="menu-drawers-pkey">Press <span>P</span> to download your drawing</h2>

</div>
